@font-face {
  font-family: 'Sansation';
  src: url(/fonts/Sansation.ttf); /* IE9 Compat Modes */
  src: url(/fonts/Sansation.ttf?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/fonts/Sansation.ttf) format('woff2'), /* Super Modern Browsers */
       url(/fonts/Sansation.ttf) format('woff'), /* Pretty Modern Browsers */
       url(/fonts/Sansation.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(/fonts/Sansation.ttf#svgFontName) format('svg'); /* Legacy iOS */
}

body {
  background: linear-gradient(-45deg, #6495ed, #fa8072) no-repeat center center fixed;
  animation: background 10s ease infinite;
  background-size: 170% 170%;
  font-family: 'Sansation', Fallback, sans-serif;
  text-align: center;
  font-size: 16px;
}

#mainheader {
  font-size: 500%;
}


#botimg {
  border-radius: 100%;
  padding: 16px;
}

@keyframes background {
  0% { background-position: 0% 51% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 51% }
}

.card {
  display: inline-block;
  overflow: hidden;
  min-width: 40%;
  max-width: 100%;
  border-radius: 4px;
  text-align: left;
  font-size: 200%;
  margin: 30px 0px;
}

@media(max-width: 768px) {
  #mainheader {
    font-size: 200%;
  }
  .card {
    font-weight: 600;
    font-size: 140%;
    min-width: 80%;
  }
}


@media(max-width: 414px) {
  #mainheader {
    font-size: 300%;
  }
  .card {
    font-weight: 600;
    font-size: 73%;
    min-width: 40%;
  }
}

@media(max-width: 320px) {
  #mainheader {
    font-size: 200%;
  }
  .card {
    font-weight: 600;
    font-size: 62%;
    min-width: 40%;
  }
}

.card-1 {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav.navbar.navbar-default {
  width: 100%;
  background: rgba(255, 255, 255, 0.35);  
  border: none;
}

.rmbblock {
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.rmbblock:hover {
  background: rgba(255, 255, 255, 0.15);
}

.inner {
  float: left;
  padding: 16px;
}