@font-face {
  font-family: 'Sansation';
  src: url(/fonts/Sansation.ttf); /* IE9 Compat Modes */
  src: url(/fonts/Sansation.ttf?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/fonts/Sansation.ttf) format('woff2'), /* Super Modern Browsers */
       url(/fonts/Sansation.ttf) format('woff'), /* Pretty Modern Browsers */
       url(/fonts/Sansation.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(/fonts/Sansation.ttf#svgFontName) format('svg'); /* Legacy iOS */
}

body {
  background: linear-gradient(-45deg, #58a4fc, #ff8172) no-repeat center center fixed;
  -webkit-animation: background 15s ease infinite;
  -moz-animation: background 15s ease infinite;
  -o-animation: background 15s ease infinite;
  animation: background 15s ease infinite;
  background-size: 170% 170%;
  font-family: 'Sansation', Fallback, sans-serif;
  text-align: center;
  font-size: 16px;
}

#mainheader {
  z-index: 1;
  font-size: 500%;
  transition: 0.8s;
  animation: inserttop 0.8s;
}

@keyframes inserttop {
    from { transform: translate(0px, -525px); }
    to   { transform: translate(0px, 0px); }
}

#botimg {
  height: 175px;
  width: 175px;
  border-radius: 100%;
  padding: 16px;
}

.nav-active {
  background: rgba(255, 255, 255, 0.4);
}

.glasspane {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-text {
  margin-right: 0px; /* For some reason, this fixes the margin. If I don't specify anything, there is none. */
}

@keyframes background {
  0% { background-position: 0% 51% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 51% }
}

@-o-keyframes background {
  0% { background-position: 0% 51% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 51% }
}

@-moz-keyframes background {
  0% { background-position: 0% 51% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 51% }
}

@-webkit-keyframes background {
  0% { background-position: 0% 51% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 51% }
}



.card {
  line-height: 155%;
  display: inline-block;
  min-width: 935px;
  border-radius: 4px;
  text-align: left;
  font-size: 200%;
  margin: 30px 0px;
  padding: 3px;
  animation: fadein 0.8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media(max-width: 768px) {
  #mainheader {
    font-size: 200%;
  }
  .card {
    font-weight: 600;
    font-size: 140%;
    min-width: 672px;
  }
}

@media(max-width: 414px) {
  #mainheader {
    font-size: 300%;
  }
  .card {
    font-weight: 600;
    font-size: 67%;
    min-width: 355px;
  }
}

@media(max-width: 320px) {
  #mainheader {
    font-size: 200%;
  }
  .card {
    font-weight: 600;
    font-size: 53%;
    min-width: 298px;
  }
}

.card-1 {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav.navbar.navbar-default {
  z-index: 2;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);  
  border: none;
}

.nav-block {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.nav-block:hover {
  background: rgba(255, 255, 255, 0.2);
}

#links-dropdown-btn[aria-expanded=true] {
  background: rgba(255, 255, 255, 0.2);
}

.inner {
  float: left;
  padding: 16px;
}

#brandimg {
  border-radius: 20%;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

#commands, #selfhosting {
  display: none;
  transition-duration: 0.8s;
  animation: fadein 0.8s;
}

#commands {
  font-size: 75%;
  padding: 16px;
}

#commands .card {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
